<div>
  <h2>Movies</h2>
  <div  class="collection">
    @for (movie of tracked?.movies; track movie.id) {
      <app-media-card [media]="movie" urlPrefix="https://image.tmdb.org/t/p/w500/"></app-media-card>
    }
  </div>
</div>

<div>
  <h2>Series</h2>
  <div  class="collection">
    @for (series of tracked?.series; track series.id) {
      <app-media-card [media]="series"></app-media-card>
    }
  </div>
</div>

<div>
  <h2>Games</h2>
  <div  class="collection">
    @for (game of tracked?.games; track game.id) {
      <app-media-card [media]="game"></app-media-card>
    }
  </div>
</div>

<div>
  <h2>Manga</h2>
  <div  class="collection">
    @for (manga of tracked?.mangas; track manga.id) {
      <app-media-card [media]="manga"></app-media-card>
    }
  </div>
</div>
