mat-card {
  background-size: cover;
  background-position: center;
  color: white;
  height: 100%;
  overflow: hidden;

  mat-card-content {
    overflow: hidden;

    @media (max-width: 600px) {
      padding: 0.5rem 0.5rem;
      gap: 0;
    }
  }
  .blur-overlay {
    backdrop-filter: blur(1.5rem);
    background-color: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .text-combined {
      p {
        margin: 0;
      }
    }

    .small-text {
      font-size: 80%;
    }

    mat-card-actions {
      justify-content: center;
      margin-top: auto;

      button {
        @media (max-width: 600px) {
          height: 2rem;
          font-size: small;
        }
      }
    }
  }
}


