<mat-card (touchstart)="toggleCard.emit()" (mouseleave)="toggleCard.emit()">
  <img class="background" [ngSrc]="media().coverUrl | mediaImage:media().mediaType" fill alt="Cover">
  <mat-card-header>
    <mat-card-title> {{ media().title }}</mat-card-title>
    <mat-card-subtitle> {{ media().releaseDate | date: 'MMMM dd, y - HH:mm' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> {{ media().description }}</mat-card-content>

  @if (media().lastReleased) {
    <mat-card-footer>
      Last Released: {{ media().lastReleased | date }}
    </mat-card-footer>
  }

  <mat-card-actions>
    <button mat-raised-button (touchstart)="$event.stopPropagation()">Details</button>
    <button mat-raised-button (click)="untrack.emit(); $event.stopPropagation()">Untrack</button>
  </mat-card-actions>
</mat-card>
