.card {
  @media (max-width: 600px) {
    width: 10rem;
  }
  @media (min-width: 600px) {
    width: 18rem;
  }
  height: 100%;

  .header-image {
    background-size: cover;
  }

  .text-content {
    flex: 1;
    text-align: center;
    gap: 1rem;

    p {
      margin: 0;
    }
  }

  mat-card-content {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0.5rem;
  }
}

.mat-mdc-card-content:last-child {
  padding: 0 0.5rem;
}
